*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* sheared style */
.primary-width{
    max-width:1140px;
    margin:0px auto;
    /* border:1px solid red; */
}
.nav-anchor-color{
    color:#8987A1;
}
.primary-text-color{
    font-size:22px;
    color:rgba(0, 0, 0, 0.5);
}
.footer-text-color{
    color: #6B7280;
}
/* header section */

/* navbar */
.navigationbar{
    display:flex;
    justify-content:space-between;
    
    
}
.navigationbar .nav-list{
    display:flex;
    align-items:center;

}
.navigationbar .nav-list li{
    list-style:none;

}
.navigationbar .nav-list li a{
    text-decoration:none;
    margin-right:2.3rem;
}
.nav-list .home-color{
    color:#252432;
}
@media screen and (max-width:678px) {
    
    .none{
        display:none;
    }
    .navigationbar{
        /* align-items:center; */
    }
    header{
        padding:0px 16px;
    }
}
/* bannar style */
.bannar-section{
    /* border:2px solid #2c3e50; */
    display:flex;
    /* justify-content:space-between; */
   align-items:flex-end;
   padding-top:106px;
}
.bannar-left{
    max-width:570px;
    /* border:1px dashed blue; */
}
.bannar-title{
    font-weight:bold;
    font-size:4rem;
}
.bn-title{
    color:#E95A08;
}
.bn-img{
    /* border:2px solid turquoise; */
    width:100%;
}
@media screen and (max-width:678px) {
   
    .bannar-section{
        flex-direction:column-reverse;
        flex-wrap:wrap-reverse;
    }
}
/* main */
/* our-plants section */

.our-plants{
    text-align:center;
    margin-top:120px;
}
.our-plants-description{
    max-width:888px;
    margin:0px auto;
}
/* flowers-items section */
.flowers-items{
    margin-top:49px;
    display:grid;
    grid-template-columns: repeat(4 ,1fr);
    column-gap: 30px;
    row-gap: 20px;
}
.flowers-items-container{
    max-width: 270px;
    /* border:1px solid #c56cf0; */
}
.flowers-items-container img{
    width:100%;
    margin-bottom:30px;
}
.flowers-items-title{
    font-weight:600px;
    font-size:22px;
    text-align:center;
    color:#111111;
}
.flowers-items-price{
    display: block;
   text-align: center;
   font-weight: bold;
   font-size: 22px;
   color:#111111;
}
.flowers-items-button{
    display: block;
    background-color: #E95A08;
    width:100%;
    padding:19px 80px;
    margin-top: 30px;
    color:#ffff;
    font-weight:600;
    border:none
}
@media screen and (max-width:678px) {
    .flowers-items{
        grid-template-columns: repeat(2 ,1fr);
        padding:0px 17px 0px 14px;
        column-gap: 20px;
        row-gap: 28px;
    }
    .flowers-items-container{
        max-width:171px;
    }
    .flowers-items-button{
        border:none;
        padding:19px 30.5px;
    }
    
}
/* Plants Lover Section */
.plants-lover{
    position: relative;
    display:flex;
    justify-content: space-between;
   margin-top: 210px;
    gap:60px;
}
.plants-lover img{
    max-width:540px;
  
}
.lover-title{
    font-weight:bold;
    font-size: 55px;
    max-width: 540px ;
}
.right-ection{
     /* border:1px solid red; */
      margin:38px 0px;
}
.lover-descripition{
    margin-left:28px;
}
.lover-descripition .oll{
    margin:20px 0px;
}
.plants-lover-logo{
    position:absolute;
    top: -130px;
    left: 355px;
    width:286px;
    height:286px;
   
}
@media screen and (max-width:678px) {
    .plants-lover{
        flex-direction: column;
    }
    .plants-lover-logo{
        display: none;
    }
    .lover-descripition{
        margin:0px;
    }
    .lover-descripition{
        margin-left:20px;
    }
}
/* footer */
/* join-section */
.join-section{
    display: grid;
    max-width:1440px;
    height: 533px;
    margin:0 auto;
    background-image:url("../news-letter-bg.png");
    position: relative;
    align-items: center;
    
}
.join-title{
    font-weight:bold;
    font-size:3.5rem;
    color:#ffff;
}
.join-section-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.join-input-box input[type="email"]{
    padding:15px 20px;
    width:644px;
    height: 50px;
}
.join-input-box button{
    width:186px;
    height:50px ;
    background-color: #E95A08;
    font-weight: 600;
    color:#ffff;
    border:none;
    
}
@media screen and (max-width:678px) {
    .join-input-box input[type="email"]{
        width:210px;
       
    }
   body{
   width:100%;
    }
    .join-section-container{
        max-width:321px;
        margin:0 auto;
    }
    .join-title{
        font-weight:bold;
        font-size:20px;
    }
    .join-input-box button{
        widtH:103px;
    }
    .join-section{
        height:275px;
    }
}
/* footer-container */

.footer-container{
    max-width:1120px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    /* border:2px solid purple; */
    padding:50px 0px;
}

.container-1{
    max-width:359px;
    /* border:1px solid black; */
}
.container-1-description{
   font-size:22px;
   margin-top:16px;
}
.container-list{
    list-style:none;
    margin-bottom:2rem;
}
.anchor{
    text-decoration: none;
}
.container-4-logo{
    
}
.container-4-logo a img{
    margin-left:24px;
}
@media screen and (max-width:678px) {
    .footer-container{
        flex-direction: column;
        padding:50px 14px 50px 20px;
    }
}
/* Latest Deal Section */
.Latest-Deal-Section{

}
.Latest-deal{
    text-align: center;
    margin-top:38px;
}
.Latest-deal-title{
    font-weight:bold;
    font-size:3rem;
}
.Latest-deal-description{
    max-width:888px;
    margin:0 200px;
}

/* img-container */

.img-container{
}
.img-box{
display:flex;
justify-content: space-between;
margin:120px 0px;
}
.left-img-1{
     width: 367px;
    height: 197px;
    background-image: url("../assets/deal-bloom.png");
    background-size: 100%;
    background-repeat: no-repeat;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom:25px;
   border-radius: 14px;
}
.left-img-2{
    width: 367px;
    height: 201px;
    background-image: url("../assets/deal-ana.png");
    display:flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 14px;
}
.img-title{
    
    font-weight: bold;
    font-size: 20px;
    color:white;
}

.shop-now{
    color:#ffff;
    font-weight: 600;
}
.right-img{
    background-image: url("../assets/deal-zabo.png");
    width:753px;
    height:423px;
    
}
.right-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}
@media screen and (max-width:678px) {
   .Latest-deal{
 
   }
   .Latest-deal-description{
    max-width:336px;
    margin:0 auto;
    font-size:14px;
    text-align: center;
   }
   .img-box{
    flex-direction: column;
    padding:0px 16px;
   }
   .left-img-1 ,.left-img-2 ,.right-img{
    max-width:361px;
    height:184.5px;
    padding:0px 16px;
    margin-bottom:20px;
    border-radius: none;
   }
   .right-img{height:172px;}
   .left-img-1 ,.right-img{
    border-radius: 14px;
   }
}