*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* sheared style */
.primary-width{
    max-width:1140px;
    margin:0px auto;
    border:1px solid red;
}
.nav-anchor-color{
    color:#8987A1;
}
.primary-text-color{
    font-size:22px;
    color:rgba(0, 0, 0, 0.5);
}
/* header section */

/* navbar */
.navigationbar{
    display:flex;
    justify-content:space-between;
    
    
}
.navigationbar .nav-list{
    display:flex;
    align-items:center;

}
.navigationbar .nav-list li{
    list-style:none;

}
.navigationbar .nav-list li a{
    text-decoration:none;
    margin-right:2.3rem;
}
.nav-list .home-color{
    color:#252432;
}
@media screen and (max-width:678px) {
    
    .none{
        display:none;
    }
    .navigationbar{
        /* align-items:center; */
    }
}
/* bannar style */
.bannar-section{
    /* border:2px solid #2c3e50; */
    display:flex;
    /* justify-content:space-between; */
   align-items:flex-end;
   padding-top:106px;
}
.bannar-left{
    max-width:570px;
    /* border:1px dashed blue; */
}
.bannar-title{
    font-weight:bold;
    font-size:4rem;
}
.bn-title{
    color:#E95A08;
}
.bn-img{
    /* border:2px solid turquoise; */
    width:100%;
}
@media screen and (max-width:678px) {
   
    .bannar-section{
        flex-direction:column-reverse;
        flex-wrap:wrap-reverse;
    }
}
/* main */
/* our-plants section */
.our-plants{
    text-align:center;
    margin-top:120px;
}
.our-plants-description{
    max-width:888px;
    margin:0px auto;
}
/* flowers-items section */
.flowers-items{
    margin-top:49px;
    display:grid;
    grid-template-columns: repeat(4 ,1fr);
    column-gap: 30px;
    row-gap: 20px;
}
.flowers-items-container{
    max-width: 270px;
    /* border:1px solid #c56cf0; */
}
.flowers-items-container img{
    width:100%;
    margin-bottom:30px;
}
.flowers-items-title{
    font-weight:600px;
    font-size:22px;
    text-align:center;
    color:#111111;
}
.flowers-items-price{
    display: block;
   text-align: center;
   font-weight: bold;
   font-size: 22px;
   color:#111111;
}
.flowers-items-button{
    display: block;
    background-color: #E95A08;
    width:100%;
    padding:19px 80px;
    margin-top: 30px;
    color:#ffff;
    font-weight:600;
}
@media screen and (max-width:678px) {
    .flowers-items{
        grid-template-columns: repeat(2 ,1fr);
        
    }
}
/* Plants Lover Section */
.plants-lover{
    position: relative;
    display:flex;
    justify-content: space-between;
   margin-top: 210px;
    gap:60px;
}
.plants-lover img{
    max-width:540px;
  
}
.lover-title{
    font-weight:bold;
    font-size: 55px;
    max-width: 540px ;
}
.right-ection{
     border:1px solid red;
      margin:38px 0px;
}
.lover-descripition{
    margin-left:28px;
}
.lover-descripition .oll{
    margin:20px 0px;
}
.plants-lover-logo{
    position:absolute;
    top:-300px;
    left:200px;
   
}
@media screen and (max-width:678px) {
    .plants-lover{
        flex-direction: column;
    }
    .plants-lover-logo{
        display: none;
    }
    .lover-descripition{
        margin:0px;
    }
}
